.home, .intro {
    color: black;
}

h1, h3, h4, h5{
    color: black;
}

.home {
    text-align: center;
}

.intro{
    text-indent: 40px;
    line-height: 2;
    padding-right: 160px;
    padding-left: 160px;
    font-weight: bold;
}

body {
    background-image: url("http://www.hdnicewallpapers.com/Walls/Big/Thoughts%20and%20Quotes/Superb_Best_Thought_on_Travel_HD_Desktop_Wallpaper.jpg");
    /* background-size: cover; */
}

.App-header {
    background-color:black;
}

#postArea{
    color: black;
}

.cool-font{
    color: black;
}

#title, 
#postBox {
    color: black;
}

input#title.form-control,
textarea#postBox.form-control,
input#zip.form-control{
    background-color: white;
}

/* .userInfo{
    color: black;
} */

.postData
 {
    color:black;
}

#userInformation {
    /* float: left; */
    color: black;
}

label#place.active {
    color:black;
}

h5.welcome {
    text-align: center;
}

p#introPara {
    padding: 40px;
}

h4.fernweh {
    color: white;
}